@media (max-width: 1200px) {
    .main_menu>ul>li>a {
        padding: 0 9px;
    }
}

@media (max-width: 992px) {
    #appsearch .modal-body button {
        border: none;
        padding: 0px 15px;
        border-radius: 5px;
        margin: 0 -3px;
        background: #eb1c24;
        color: #fff;
        font-size: 20px;
    }
    .head-fonts,
    .statistics .counter-box .number {
        font-size: 1.75rem
    }
    .list_button,
    .select_option.number {
        margin-bottom: 20px;
    }
    .order_filter {
        position: fixed;
        bottom: -300px;
        width: 100%;
        background: #fff;
        z-index: 9999;
        right: 0;
        left: 0;
        -webkit-transition: all 0.35s ease-out;
        -moz-transition: all 0.35s ease-out;
        transition: all 0.35s ease-out;
    }
    .sidebar_widget {
        position: fixed;
        top: 0px;
        background: #fff;
        width: 250px;
        z-index: 9999;
        padding: 15px;
        right: -300px;
        overflow-x: scroll;
        -webkit-transition: all 0.35s ease-out;
        -moz-transition: all 0.35s ease-out;
        transition: all 0.35s ease-out;
        height: 100%;
        -ms-transition: all 0.35s ease-out;
        -o-transition: all 0.35s ease-out;
    }
    .cat_filter {
        text-align: center;
        background: #f5f5f5;
        padding: 10px 10px;
    }
    .cat_filter span {
        margin: 0 30px;
    }
    .cat_filter img {
        width: 25px;
    }
    .oder_title {
        background: var(--background-color);
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }
    .clos_filter {
        float: left;
        font-size: 45px;
        position: absolute;
        left: 0px;
        top: 0px;
        background: var(--background-color);
        border-radius: 50%;
        color: #fff;
        overflow: hidden;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 27px;
    }
    .order_filter select {
        width: 100%;
        max-width: 100% !important;
    }
    .order_filter .shop_toolbar {
        padding: 0 30px;
    }
    .order_filter .select_option {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media(max-width:768px) {
    body {
        font-size: 14px;
    }
    .section_title {
        font-size: 25px;
    }
    .product_tab_button ul li {
        padding: 10px 0;
    }
    .tab-content .small_padding,
    .small_padding {
        padding: 0 1px;
    }
    .product_content {
        padding: 8px;
    }
    .product_action ul li a {
        padding: 2px 10px;
        font-size: 14px;
    }
    .newsletter_form input {
        width: 85%;
    }
    .newsletter_form button {
        left: 0;
    }
    .breadcrumb_content2 ul li {
        margin-right: 0px;
        padding-right: 4px;
    }
    .head-fonts,
    .statistics .counter-box .number {
        font-size: 1.5rem
    }
}

@media (max-width: 576px) {
    .product_tab_button ul li {
        padding: 5px 1px;
    }
    .product_tab_button ul li a {
        border-radius: 20px;
        padding: 3px 12px;
    }
    .product_ratting span {
        padding: 3px;
        font-size: 12px;
    }
    .product_price span.current_price {
        font-size: 15px;
    }
    .section_title {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .product_ratting span {
        padding: 2px;
        font-size: 10px;
    }
    .product_tab_button ul li a {
        border-radius: 20px;
        padding: 1px 5px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .product_action ul li a {
        padding: 1px 8px;
        font-size: 12px;
    }
}